.code {
    font-family: monospace;
    font-size: 14;
    background-color: rgb(247, 232, 212);
    padding: 14px;
}

.title {
    text-align:center;
}

.blog-title {
    font-size: 24;
}

@media screen and (min-width: 800px) {
    body {
        max-width: 800px;
        margin: 0 auto;
    }
}
