
canvas {
  image-rendering: -moz-crisp-edges;
  image-rendering: -webkit-crisp-edges;
  image-rendering: pixelated;
  image-rendering: crisp-edges;
  width: 100%;
  height: 100%;
  display: block;
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
  margin: 0;
  background-color: blue;
}

#root {
  display: flex;
  flex-direction: row;
  height: 100%;
  margin: 0;
}

#action_bar {
  width: 100px;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0,0,0,0.4);
}

.modal-content {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

#text {
  width: 90%;
  position: absolute;
  left: 0px;
  top: 0px;
  z-index: 10;
}

#glCanvas {
  width: 90%;
}
